## Demographic Data In San Bernardino + Riverside

### Race & Housing (Rent/Own)

In [3]:
import requests

In [7]:
import geopandas as gpd
import pandas as pd

In [3]:
#look at tables
#acs.filter_tables('OCCUPATION', by='description')

In [76]:
#Race = table B02001
# Housing - table 'B19013_001E':'Median HH Income','B25003_001E':'Total Occupied','B25003_002E':'Owner Occupied','B25003_003E':'Renter Occupied'
#riverside = requests.get('https://api.census.gov/data/2009/acs/acs1?get=group(B02001)&for=TRACT&in=county:06071')
r = requests.get('https://api.census.gov/data/2009/acs/acs1?get=NAME,B19013_001E&for=TRACT&in=state:06')

In [83]:

r = requests.get('https://api.census.gov/data/2019/acs/acs1?get=NAME,B02015_009E,B02015_009Mâ€Œ&for=state:06')

In [84]:
print(type(r.text))

<class 'str'>

In [85]:
print(r.text)

In [86]:
riverside = r.json()
type(riverside)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [36]:
df = pd.DataFrame(riverside[1:], columns=censusdata[0])
df

TypeError: 'Response' object is not subscriptable

In [4]:

products.ACS(2011).from_county('Riverside, CA', level='tract',
                                        variables=['B02001','B19013_001E','B25003_001E','B25003_002E','B25003_003E'])

SB = products.ACS(2011).from_county('San Bernardino, CA', level='tract', variables=['B02001','B19013_001E','B25003_001E','B25003_002E','B25003_003E'])

#LA = products.ACS(2019).from_county('Los Angeles, CA', level='tract',variables=['B02001','B19013_001E','B25003_001E','B25003_002E','B25003_003E'])

NotImplementedError: The requested year (2011) is too early/late. Only 2017, 2018, or 2019 are supported.

In [ ]:
#create a single gdf using code from https://gis.stackexchange.com/questions/162659/joining-concat-list-of-similar-dataframes-in-geopandas 
gdf = gpd.GeoDataFrame(pd.concat([riverside,SB], ignore_index=True), crs=riverside.crs)

In [ ]:
gdf.rename(columns={
                'B19013_001E':'Median HH Income', 'B25003_001E':'Total Occupied','B25003_002E':'Owner Occupied','B25003_003E':'Renter Occupied',
            'B02001_001E': 'Total Pop',
                'B02001_002E':'White alone',
                "B02001_003E": "Black or African American alone", 
                "B02001_004E": "American Indian and Alaska Native alone",
                "B02001_005E": "Asian alone",
                "B02001_006E": "Native Hawaiian and Other Pacific Islander alone",
                "B02001_007E": "Some other race alone",
                "B02001_008E": "Two or more races:",
                "B02001_009E": "Two races including Some other race",
                "B02001_010E": "Two races excluding Some other race, and three or more races"}, inplace=True)

In [ ]:
#gdf.columns.values.tolist()

In [ ]:
race_cols = [ 'White alone',
 'Black or African American alone',
 'American Indian and Alaska Native alone',
 'Asian alone',
 'Native Hawaiian and Other Pacific Islander alone',
 'Some other race alone',
 'Two or more races:',
 'Two races including Some other race',
 'Two races excluding Some other race, and three or more races']

In [ ]:
for col in race_cols:
    gdf["Percent " + col] = (gdf[col]/gdf['Total Pop']) * 100

In [ ]:
gdf = gdf.drop(race_cols, axis=1)

In [ ]:
gdf['Percent Owner Occupied'] = (gdf['Owner Occupied']/gdf['Total Occupied']) * 100
gdf['Percent Renter Occupied'] = (gdf['Renter Occupied']/gdf['Total Occupied']) * 100

In [ ]:
gdf = gdf.drop(['Total Occupied',
 'Owner Occupied',
 'Renter Occupied',], axis=1)

In [ ]:
gdf.head(3)

In [ ]:
import matplotlib.pyplot as plt 

# create a matplotlib figure and axis object
fig, ax = plt.subplots(figsize=(20,10))

gdf.plot('Percent White alone', ax=ax, cmap='plasma', legend=True, 
               legend_kwds={'orientation': 'horizontal'})
ax.set_facecolor('k')

## Income

In [ ]:
#Household income = table B19001

riverside_HI = products.ACS(2011).from_county('Riverside, CA', level='tract',
                                        variables='B19001')

SB_HI = products.ACS(2011).from_county('San Bernardino, CA', level='tract', variables='B19001')

#LA_HI = products.ACS(2019).from_county('Los Angeles, CA', level='tract',variables='B19001')

In [ ]:
HI_gdf = gpd.GeoDataFrame(pd.concat([riverside_HI,SB_HI], ignore_index=True), crs=riverside_HI.crs)

In [ ]:
HI_gdf.head(1)

In [ ]:
#drop extra columns
HI_gdf = HI_gdf[["B19001_001E", "B19001_002E"    ,
                "B19001_003E"     ,
                "B19001_004E"    ,
                "B19001_005E"    ,
                "B19001_006E"     ,
                "B19001_007E"     , 
                "B19001_008E"    ,
                "B19001_009E"   ,
                "B19001_010E" ,
                "B19001_011E" ,
                "B19001_012E",
                "B19001_013E"  ,
                "B19001_014E",
                "B19001_015E"   ,
                "B19001_016E",
                "B19001_017E",
                'geometry','GEOID']]

In [ ]:
 #rename columns
HI_gdf.rename(columns={"B19001_001E":"Total:",       
                "B19001_002E":"<$10,000",       
                "B19001_003E": '$10,000-$14,999',     
                "B19001_004E":'$15,000 - $19,999',     
                "B19001_005E": '$20,000 - $24,999',     
                "B19001_006E":"$25,000 - $29,999",      
                "B19001_007E":"$30,000 - $34,999",       
                "B19001_008E":"$35,000 - $39,999",      
                "B19001_009E":  "$40,000 - $44,999",    
                "B19001_010E":  "$45,000 - $49,999",   
                "B19001_011E":  "$50,000 - $59,999",  
                "B19001_012E":  "$60,000 - $74,999",  
                "B19001_013E":  "$75,000 - $99,999",  
                "B19001_014E": "$100,000 - $124,999",    
                "B19001_015E":"$125,000 - $149,999",     
                "B19001_016E":"$150,000 - $199,999",   
                "B19001_017E": "$200,000 or more"}, inplace=True)

In [ ]:
#get col names
#HI_gdf.columns.values.tolist()

In [ ]:
#make list of income related cols
cols = [ '<$10,000',
 '$10,000-$14,999',
 '$15,000 - $19,999',
 '$20,000 - $24,999',
 '$25,000 - $29,999',
 '$30,000 - $34,999',
 '$35,000 - $39,999',
 '$40,000 - $44,999',
 '$45,000 - $49,999',
 '$50,000 - $59,999',
 '$60,000 - $74,999',
 '$75,000 - $99,999',
 '$100,000 - $124,999',
 '$125,000 - $149,999',
 '$150,000 - $199,999',
 '$200,000 or more']

In [ ]:
#get household income percentages for tracts
for col in cols:
    HI_gdf["Percent " + col] = (HI_gdf[col]/HI_gdf['Total:']) * 100

In [ ]:
#drop old columns
HI_gdf =  HI_gdf.drop(cols, axis=1)

In [ ]:
HI_gdf.head(1)

## Education Level

In [ ]:
#education level (population 25 years and older)  = B15003
riverside_educ = products.ACS(2011).from_county('Riverside, CA', level='tract',
                                        variables='B15003')

SB_educ = products.ACS(2011).from_county('San Bernardino, CA', level='tract', variables='B15003')

#LA_educ = products.ACS(2019).from_county('Los Angeles, CA', level='tract',variables='B15003')

In [ ]:
educ_gdf = gpd.GeoDataFrame(pd.concat([riverside_educ,SB_educ], ignore_index=True), crs=riverside_educ.crs)

In [ ]:
  educ_gdf.rename(columns={"B15003_001E":"Total_Educ",
      'B15003_002E':'No schooling completed',
'B15003_017E':'Regular high school diploma',
'B15003_018E':'GED or alternative credential',
'B15003_021E':'Associates degree',
'B15003_022E':'Bachelors degree',
'B15003_023E':'Masters degree',
'B15003_024E':'Professional school degree',
'B15003_025E':'Doctorate degree'
                }, inplace=True)

In [ ]:
#create col for some school but less than highschool degree
educ_gdf['less_highschool'] = educ_gdf.iloc[:,5:18].sum(axis=1)
#create col for some school post highschool but less than secondary degree
educ_gdf['some_college'] = educ_gdf.B15003_019E + educ_gdf.B15003_020E

In [ ]:
educ_gdf.head()

In [ ]:
#educ_gdf.columns.values.tolist()

In [ ]:
#drop columns we don't need
educ_gdf = educ_gdf[['GEOID', 
 'geometry',
 'Total_Educ',
 'No schooling completed',
 'Regular high school diploma',
 'GED or alternative credential',
 'Associates degree',
 'Bachelors degree',
 'Masters degree',
 'Professional school degree',
 'Doctorate degree',
 'NAME',
 'state',
 'county',
 'tract',
 'less_highschool',
 'some_college']]

In [ ]:
cols =  ['No schooling completed',
 'Regular high school diploma',
 'GED or alternative credential',
 'Associates degree',
 'Bachelors degree',
 'Masters degree',
 'Professional school degree',
 'Doctorate degree',
 'less_highschool',
 'some_college']

In [ ]:
for col in cols:
    educ_gdf["Percent " + col] = (educ_gdf[col]/educ_gdf['Total_Educ']) * 100

In [ ]:
educ_gdf = educ_gdf.drop(cols, axis=1)

In [ ]:
educ_gdf.head()

## Occupation

In [ ]:
#Table B24080: Sex by Class of Worker for the Civilian Population).
riverside_oc = products.ACS(2011).from_county('Riverside, CA', level='tract',
                                        variables='B24080')

SB_oc = products.ACS(2011).from_county('San Bernardino, CA', level='tract', variables='B24080')

#LA_oc = products.ACS(2019).from_county('Los Angeles, CA', level='tract',variables='B24080')

In [ ]:
oc_gdf = gpd.GeoDataFrame(pd.concat([riverside_oc,SB_oc], ignore_index=True), crs=riverside_oc.crs)

In [ ]:
#oc_gdf.columns.values.tolist()

In [ ]:
#get male and female columns to sum
male_cols = oc_gdf[[
 'B24080_003E',
 'B24080_004E',
 'B24080_005E',
 'B24080_006E',
 'B24080_007E',
 'B24080_008E',
 'B24080_009E',
 'B24080_010E',
 'B24080_011E']]
female_cols = oc_gdf[[
 'B24080_013E',
 'B24080_014E',
 'B24080_015E',
 'B24080_016E',
 'B24080_017E',
 'B24080_018E',
 'B24080_019E',
 'B24080_020E',
 'B24080_021E',
]]

In [ ]:
#rename columns to match
male_cols.rename(columns={
                "B24080_003E":  "Private for-profit wage and salary workers:",
                "B24080_004E": "Employee of private company workers",
                "B24080_005E":"Self-employed in own incorporated business workers",
                "B24080_006E": "Private not-for-profit wage and salary workers",
                "B24080_007E": "Local government workers",
                "B24080_008E": "State government workers",
                "B24080_009E": "Federal government workers",
                "B24080_010E":  "Self-employed in own not incorporated business workers",
                "B24080_011E": "Unpaid family workers"}, inplace=True)
female_cols.rename(columns={     
                "B24080_013E": "Private for-profit wage and salary workers:", 
                "B24080_014E": "Employee of private company workers", 
                "B24080_015E":"Self-employed in own incorporated business workers",
                "B24080_016E": "Private not-for-profit wage and salary workers",
                "B24080_017E": "Local government workers",
                "B24080_018E": "State government workers", 
                "B24080_019E": "Federal government workers",
                "B24080_020E":"Self-employed in own not incorporated business workers",  
                "B24080_021E": "Unpaid family workers"}, inplace=True)

In [ ]:
#sum to get total
df_sum = male_cols.add(female_cols, fill_value=0)

In [ ]:
#add back tract column
df_sum['tract'] = oc_gdf['tract']

In [ ]:
df_sum.head(1)

In [ ]:
#merge to get back geometries
oc_gdf = pd.merge(df_sum,oc_gdf,on='tract')

In [ ]:
oc_gdf.head(1)

In [ ]:
#rename total workers column
oc_gdf.rename(columns={"B24080_001E": "Total Workers:"}, inplace=True)

In [ ]:
#oc_gdf.columns.values.tolist()

In [ ]:
#drop columns
oc_gdf = oc_gdf[['Private for-profit wage and salary workers:',
 'Employee of private company workers',
 'Self-employed in own incorporated business workers',
 'Private not-for-profit wage and salary workers',
 'Local government workers',
 'State government workers',
 'Federal government workers',
 'Self-employed in own not incorporated business workers',
 'Unpaid family workers',
                 "Total Workers:",
 'geometry']]

In [ ]:
cols = [ 'Private for-profit wage and salary workers:',
 'Employee of private company workers',
 'Self-employed in own incorporated business workers',
 'Private not-for-profit wage and salary workers',
 'Local government workers',
 'State government workers',
 'Federal government workers',
 'Self-employed in own not incorporated business workers',
 'Unpaid family workers']

In [ ]:
for col in cols:
    oc_gdf["Percent " + col] = (oc_gdf[col]/oc_gdf['Total Workers:']) * 100

In [ ]:
oc_gdf = oc_gdf.drop(cols, axis=1)

In [ ]:
##Percent Private for-profit wage and salary workers = employee of private company + self-employed  - dropping
oc_gdf = oc_gdf.drop(columns=['Percent Private for-profit wage and salary workers:'], axis=1)

In [ ]:
oc_gdf = gpd.GeoDataFrame(oc_gdf, crs=riverside.crs, geometry='geometry')

In [ ]:
oc_gdf.head()

## Joining all the dataframes

In [ ]:
#oc_gdf + educ_gdf + HI_gdf + gdf

census_gdf = gpd.sjoin(gdf,HI_gdf, how='inner')

In [ ]:
census_gdf = census_gdf.drop('index_right', axis=1)

In [ ]:
census_gdf = gpd.sjoin(census_gdf,educ_gdf,how = 'inner')

In [ ]:
census_gdf = census_gdf.drop('index_right', axis=1)

In [ ]:
census_gdf = gpd.sjoin(census_gdf,oc_gdf,how = 'inner')

In [ ]:
#census_gdf.info()

In [ ]:
census_gdf = census_gdf.drop(columns = ['GEOID_right',                                                                                                                   
'NAME_right',                                                   
'state_right',                                                         
'county_right',                                                   
'tract_right',   
'Total:',
'index_right',
'Total_Educ']  , axis=1)

In [ ]:
census_gdf.rename(columns={"Total Workers:":"Total Workers","state_left":"state","county_left":"county","tract_left":"tract","NAME_left":"NAME"}, inplace=True)

In [ ]:
census_gdf_2011 = census_gdf

In [ ]:
#census_gdf_2011.to_csv(index=False)