In [1]:
import geopandas as gpd
import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/cpugh/OneDrive/Documents/GitHub/uds project/group repo/uds-warehouse-project/data/scag_riverside_cleaned.csv')

C:\Users\cpugh\AppData\Local\Temp\ipykernel_24580\2754575116.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/cpugh/OneDrive/Documents/GitHub/uds project/group repo/uds-warehouse-project/data/scag_riverside_cleaned.csv')

In [8]:
df_SB = pd.read_csv('C:/Users/cpugh/OneDrive/Documents/GitHub/uds project/group repo/uds-warehouse-project/data/scag_san_bernardino_cleaned.csv')

In [26]:
df_SB.head()

,PID19,APN19,COUNTY,CITY,ACRES,IL_RATIO,LU19,LU16,JURISDICTI,LU19_CLASS,SCAG_ZN_CO,Shape_Leng,Shape_Area,geometry
0,710010829107,10829107.0,San Bernardino,Ontario,9.363185,0.00000,1262.0,1262.0,Ontario,Education,1241.0,942.166245,55418.334428,"POLYGON ((-13093624.0169 4040192.3572999984, -..."
1,710010829113,10829113.0,San Bernardino,Ontario,1.866910,0.00000,1820.0,1820.0,Ontario,Open Space and Recreation,1800.0,552.522162,11049.799596,"POLYGON ((-13093575.5007 4040192.2478, -130935..."
2,710010829114,10829114.0,San Bernardino,Ontario,1.871418,0.00000,1820.0,1820.0,Ontario,Open Space and Recreation,1800.0,552.755225,11076.464568,"POLYGON ((-13093526.8672 4040192.1378000006, -..."
3,710010830101,10830101.0,San Bernardino,Ontario,0.138351,1.83333,1110.0,1111.0,Ontario,Single Family Residential,1112.0,123.689401,818.849787,"POLYGON ((-13094243.7335 4039966.1221999973, -..."
4,710010830102,10830102.0,San Bernardino,Ontario,0.138364,1.85573,1110.0,1111.0,Ontario,Single Family Residential,1112.0,123.696903,818.920194,POLYGON ((-13094243.725200001 4039946.91910000...

In [27]:
#merge data frames

df = pd.concat([df,df_SB], ignore_index=True)

In [28]:
df.sample(5)

,PID19,APN19,COUNTY,CITY,ACRES,IL_RATIO,LU19,LU16,JURISDICTI,LU19_CLASS,SCAG_ZN_CO,Shape_Leng,Shape_Area,geometry
2466631,710309857107,309857107.0,San Bernardino,Unincorporated,2.258713,2.26064,1110.0,1150.0,San Bernardino County (Unincorporated),Single Family Residential,1150.0,474.572815,13495.864376,"POLYGON ((-13083648.068 4093937.4948000014, -1..."
159687,650250080002,250080002,Riverside,Riverside,1.081674,0.75000,1300.0,1220.0,Riverside,Industrial,1200.0,NaN,NaN,NaN
849027,650957750023,957750023,Riverside,Temecula,0.163681,4.84501,1110.0,1110.0,Temecula,Single Family Residential,7777.0,NaN,NaN,NaN
1469475,710102346122,102346122.0,San Bernardino,Chino Hills,0.074304,4.00033,1110.0,1111.0,Chino Hills,Single Family Residential,1100.0,NaN,NaN,NaN
302316,650360432008,360432008,Riverside,Menifee,0.170750,2.62037,1110.0,1110.0,Menifee,Single Family Residential,1110.0,NaN,NaN,NaN

In [29]:
#drop geometry
df = df.drop(['geometry','Shape_Leng','Shape_Area'], axis=1)

In [35]:
#get land use dummies

dummy_df = pd.get_dummies(df['LU19_CLASS'])

In [38]:
dummy_df.sample(5)

,Agriculture,Commercial and Services,Education,Facilities,General Office,Industrial,Military Installations,Mixed Commercial and Industrial,Mixed Residential,Mixed Residential and Commercial,...,Open Space and Recreation,Rural Residential,Single Family Residential,Specific Plan,"Transportation, Communications, and Utilities",Under Construction,Undevelopable,Unknown,Vacant,Water
726116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
541535,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
475987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1093848,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1650378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [39]:
df = pd.concat([df, dummy_df], axis=1)

In [40]:
df.head(5)

,PID19,APN19,COUNTY,CITY,ACRES,IL_RATIO,LU19,LU16,JURISDICTI,LU19_CLASS,...,Open Space and Recreation,Rural Residential,Single Family Residential,Specific Plan,"Transportation, Communications, and Utilities",Under Construction,Undevelopable,Unknown,Vacant,Water
0,650101020001,101020001,Riverside,Unincorporated,14.741652,0.0,1830.0,1830.0,Riverside County (Unincorporated),Open Space and Recreation,...,1,0,0,0,0,0,0,0,0,0
1,650101020003,101020003,Riverside,Unincorporated,395.960980,0.0,1800.0,1437.0,Riverside County (Unincorporated),Open Space and Recreation,...,1,0,0,0,0,0,0,0,0,0
2,650101020004,101020004,Riverside,Unincorporated,550.001027,0.0,1830.0,1830.0,Riverside County (Unincorporated),Open Space and Recreation,...,1,0,0,0,0,0,0,0,0,0
3,650101020005,101020005,Riverside,Unincorporated,83.605097,0.0,1800.0,3100.0,Riverside County (Unincorporated),Open Space and Recreation,...,1,0,0,0,0,0,0,0,0,0
4,650101030001,101030001,Riverside,Unincorporated,89.429098,0.0,1800.0,1437.0,Riverside County (Unincorporated),Open Space and Recreation,...,1,0,0,0,0,0,0,0,0,0

In [41]:
df.to_csv('SCAG_clean.csv')